# macOS
.DS_Store
.nova*

# VSCode
.vscode/

# TeX
*.ttf
*.ttc
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex*
*.xdv
*.out
resume-complete*

# Tests
tests/node_modules/
tests/test-results/
tests/playwright-report/
